
.guia_rapida_div  {

    opacity:0;
    visibility: hidden;
    position: absolute;
    left: 10%;
    height: auto;
    width: 70% ;
    transform: translateX(-10%);
    z-index: 999;
    overflow: auto;
    transition: 500ms all;
    


}

.guia_rapida_div  .banner {
    display: flex;
    text-align: center;
    color: white;
    width: 100%;
 
    background-image: linear-gradient(to right top,#ff1919,#4c4cff);
 
 
    
 
 
}
.guia_rapida_div  .reglas{
    background-color: #ffffff;
    
    text-align: center;
    overflow-y: auto;
    width: 100%;
}