main {

  display: none;
  width: 95%;
  height: 500px;
  margin: 0 auto;

  max-width: 1500px;


  #Menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }



  #canvas_container,
  #Menu {
    
      flex-basis: 50%;
      height: 500px;
  }

}