main {

  // estilos que varian en el media query
  display: none;
  width: 95%;
  height: 500px;
  margin: 0 auto;

  max-width: 1500px;

  
  // los hijos del main, el lienzo y el menu de opciones
  #canvas_container,#Menu {flex-basis: 50%;}
}
