// el anuncio que aparece cuando el width es muy pequeño
#announcement {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

@media screen and (min-width: 768px) {
  #announcement {
      display: none;
  }
  
  //APARECE EL HEADER Y EL MAIN en la pagina
  .header,main {
      display: flex;
  }

}